
/* Google fonts: */
@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Blaka+Hollow&family=Oswald:wght@200&family=PT+Sans+Narrow&family=Roboto:wght@300&display=swap');

/* counter application start here */

#output{
    color: rgb(228, 31, 218);
    font-size: 50px;
};



/* counter application start here */


/* Stop-Watch project start here */
#output2{
    color: rgb(19, 190, 102);
    font-size: 70px;
};
/* Stop-Watch project ends here */


/* Alarm Clock project part start here */

/* Alarm Clock project part ends here */

